* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
}

.banner-title {
    color: #272727;
    font-size: 45px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: none;
    padding: 9px 15px;
    margin-top: 20px;
}

.banner-img {
    width: 450px;
    height: 550px;
    margin-top: 30px;
}

.featured-container {
    margin-bottom: 60px;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-top: 80px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 18px;
}

.featured-paragraph{
    margin-top: 18px;
}

.featured-flowers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.pink-background {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}

.size {
    width: 150px;
    height: 200px;
}

.sky-background {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
}

.gray-background {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
}

.flower-name ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-bottom: 50px;
}

.flower-name ul li {
    text-decoration: underline;
}

.position {
    margin-top: 10px;
    margin-left: 220px;
    margin-right: -10px;
    color: #272727;
}

.position-second {
    color: #272727;
    margin-right: 90px;
    margin-left: -130px;
}

.position-third {
    color: #272727;
    margin-right: 220px;
    margin-left: -220px;
}

.featured-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 42%;
    margin: auto;
    padding: 77px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    gap: 55px;
}

.icon-size {
    width: 35px;
    margin-left: 58px;
}

.icon-description {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 8.8px;
    font-weight: 600;
}

.sale-container{
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
    padding-bottom: 30px;
    
}

.sale-description{
    margin-left: 190px;
    margin-right: -180px;
    margin-top: 60px;
}

.sale-title{
    color: #272727;
    font-size: 27px;
    font-weight: 800;
}

.sale-paragraph{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 12px;
    font-weight: 400; 
    margin-top: 8px;
}

.sale-btn{
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: none;
    padding: 9px 20px;
    margin-top: 20px;
    margin-left: 150px;
}

.sale-image{
    margin-right: 170px;
}

.roses{
    margin-top: 30px;
    width: 180px;
    height: 250px;
}

.instagram-title{
    color: #272727;
    text-align: center;
    font-size: 25px;
    font-weight: 800; 
}

.instagram-paragraph{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;   
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;    
}

.instagram-flowers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 85px;
    margin-right: 90px;
    margin-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
    
}

.instagram-flowers img{
    width: 210px;
    height: 250px;
    margin-bottom: 70px; 
}

.instagram-background{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 56%;
    margin: auto;
    padding: 110px 80px;
    border-radius: 8px;
    background-image: url('assets/Rectangle\ 9.png');
    margin-bottom: 90px;
    background-size: cover;
    background-repeat: no-repeat;  
}

.background-title{
    color: #272727;
    margin-left: 270px;
    font-size: 24px;
    font-weight: 800;
    margin-top: -50px;
}

.background-paragraph{
    color: rgba(39, 39, 39, 0.60);
    text-align: center; 
    font-size: 12px;
    font-weight: 400; 
    margin-left: 270px;
    margin-top: 5px;
    margin-right: 160px;
}

.input-field{
    border-radius: 8px;
    background-color: #FFF;
    border: none;
    width: 420px;
    height: 40px;
    margin-top: 30px;
    padding-left: 15px;
    margin-left: 140px;
}

.button-background{
    border-radius: 8px;
    background-color: #E55473;  
    margin-left: 5px;
}

.contact-container{

    background-color: rgba(229, 84, 115, 0.10);
    height: 100vh;

}

.contact-title{
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800; 
    padding-top: 60px;
}

.contact-description{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
}

.garden{
   width: 41%;
   margin-top: 80px;
   margin-left: 100px;
   border-radius: 10px;
   box-shadow: 6px 6px 10px gray;
   
}

.contact-form{
    margin-left: 220px;
    margin-top: 90px;
   
}

.box{
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 8px;
   
}

